rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{roomId} {
      allow read, write: if true;

      match /strokes/{strokeId} {
        allow read, write: if true;
      }

      match /presence/{presenceId} {
        allow read, write: if true;
      }
    }
  }
}
